body::before {
  display: block;
  content: "";
  height: 60px;
}

/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(/aquahome.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./downloadhome.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./parkhome.jpg);
} */
